// in SCSS we can directly declare variables using $ symbol without using ::root (in CSS)

$main-bgColor : #6A67CE;
$white-color : #fff;
$black-color : #000;
$center : center;
$font-family: 'Poppins',serif;